div {
  border: 2px solid red;

  height: 100px;
  font-size: 40px;
  font-weight: bold;
  background-color: red;
  margin: 5px;
  text-align: center;
  padding: 5px;
  color: aliceblue;
}
div:hover {
  background: rgb(119, 4, 4);
  font-style: italic;
}
